In [2]:
## So first let's import the data and set up our libraries 
import pandas as pd 
wm_data = pd.read_excel("Weights-Measures_Data.xlsx")

In [3]:
##Great now let's take a peek under the hood of the data 
wm_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12755 entries, 0 to 12754
Data columns (total 35 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Certificate of Inspection      12755 non-null  object
 1   Inspection Number              12755 non-null  object
 2   Date of Occurance              12755 non-null  datetime64[ns]
 3   Year (added)                   12755 non-null  int64
 4   Business Unique ID             12750 non-null  object
 5   Business Name                  12755 non-null  object
 6   DBA Trade Name                 3552 non-null   object
 7   Business Category              12755 non-null  object
 8   Inspection type                12755 non-null  object
 9   Device Category                12755 non-null  object
 10  Device Class                   12699 non-null  object
 11  Device Type                    12755 non-null  object
 12  Devices Inspected              12755 non-null  int64
 13  Devices Approved               12755 non-null  int64
 14  Devices Condemned/Confiscated  12755 non-null  int64
 15  Confiscated                    1419 non-null   object
 16  Address Type                   12755 non-null  object
 17  Building Number                12642 non-null  object
 18  Street Name                    12755 non-null  object
 19  Street Name 2                  125 non-null    object
 20  Unit Type                      305 non-null    object
 21  Unit                           279 non-null    object
 22  City                           12750 non-null  object
 23  State                          12750 non-null  object
 24  Postcode                       12755 non-null  int64
 25  Borough                        12755 non-null  object
 26  Community Board                12695 non-null  float64
 27  Council District               12695 non-null  float64
 28  BIN                            12533 non-null  float64
 29  BBL                            12542 non-null  float64
 30  NTA                            12349 non-null  object
 31  Latitude                       12702 non-null  float64
 32  Longitude                      12702 non-null  float64
 33                                 0 non-null      float64
 34   .1                            0 non-null      float64
dtypes: datetime64[ns](1), float64(8), int64(5), object(21)
memory usage: 3.4+ MB

In [4]:
##let's find the top address types for the entire data set 
wm_data = pd.read_excel("Weights-Measures_Data.xlsx")

# Step 1: Create standardized 'Full Address' column
wm_data["Full Address"] = (
    wm_data["Building Number"].fillna('').astype(str).str.strip() + " " +
    wm_data["Street Name"].fillna('').astype(str).str.strip() + ", " +
    wm_data["Postcode"].astype(str)
)

# Step 2: Get the most frequent address
wm_data["Full Address"].value_counts().head(10)

Full Address
245 MESEROLE AVE, 11222             946
 CENTRAL PARK WEST, 10023            69
245 MESEROLE AVENUE, 11222           33
 EAST 17 STREET, 10003               22
880 GARRISON AVE, 10474              15
1 JFK INTL AIRPORT BLVD, 11430       14
2285 FLATBUSH AVE, 11234             12
914 REMSEN AVE, 11236                11
1081 LEGGETT AVE, 10474              11
17402 HORACE HARDING EXPY, 11365     11
Name: count, dtype: int64

In [5]:
## Okay...so now let's tackle these 7 key investigative questions: 
## 1. Identify the repeat offenders: businesses with multiple failed inspections or confiscated/condemned devices.
## 2. Identify the geographic hotspots of device violations by borough and postal code 
## 3. Identify the most commonly inspected and/or condemned device type 
## 4. Are there seasonal spikes or trends in failures or enforcement
## 5. What business types are most at risk of violations 
## 6. Which borough and business types received the highest confiscations
## 7. How likely are devices to be condemned based on routine vs. complaint-driven inspections.

In [6]:
## Let's first identify the repeat offenders: businesses with multiple failed inspections or confiscated/condemned devices.
## Let's first filter for failed inspections
## Then we'll count the number of failed inspections and look at the top 10

failed_inspections = wm_data[wm_data["Devices Condemned/Confiscated"] > 0]
repeat_offenders = failed_inspections["Business Name"].value_counts()
repeat_offenders.head(10)

Business Name
BOLLA OPERATING CORP.              85
SPEEDWAY LLC                       46
AMG RETAIL I LLC                   16
SPRAGUE OPERATING RESOURCES LLC    13
JAG TRANSPORTING INC               12
LOGIC FUEL TRANSPORTATION CORP      8
STAR ENERGY TRANSPORTATION INC.     7
E.S.F. TRANSPORT INC.               6
BERIL CORP                          5
FIVE BORO FUEL OIL LTD              5
Name: count, dtype: int64

In [7]:
## These are the most common device types to fail inspections
most_common_devices = failed_inspections["Device Type"].value_counts().head(10)
most_common_devices

Device Type
Octane Sample           1135
Petrol Meter Type B       86
Computing Scale - 01      82
Petrol Meter Type A       31
Petrol Pump Blend         15
Pre-pack Scale - 01       14
Petrol Pump Single        12
No Fee Scale              12
Petrol Pump Diesel         9
Platform Scale - 02        9
Name: count, dtype: int64

In [8]:
failed_inspections

,Certificate of Inspection,Inspection Number,Date of Occurance,Year (added),Business Unique ID,Business Name,DBA Trade Name,Business Category,Inspection type,Device Category,...,Community Board,Council District,BIN,BBL,NTA,Latitude,Longitude,,.1,Full Address
56,A0126801,INS-000651322,2023-07-03,2023,BA-1118791-2022,292 FUEL STOP INC,NaN,Gas Station-Retail - 815,WAM - Petroleum,Gas Station,...,313.0,48.0,3244404.0,3.086640e+09,BK19,40.581114,-73.963884,NaN,NaN,"292 NEPTUNE AVE, 11235"
166,A0126806,INS-000651328,2023-07-03,2023,BA-1431425-2022,NEPTUNE FUEL STOP INC,Allegiance,Gas Station-Retail - 815,WAM - Petroleum,Gas Station,...,313.0,47.0,3188421.0,3.069920e+09,BK21,40.578690,-73.987501,NaN,NaN,"2001 NEPTUNE AVE, 11224"
292,A0126981,INS-000651571,2023-07-05,2023,BA-1318452-2022,JARNAIL PETROLEUM INC,NaN,Gas Station-Retail - 815,WAM - Petroleum,Gas Station,...,318.0,45.0,3217120.0,3.078150e+09,BK58,40.622785,-73.937054,NaN,NaN,"1924 FLATBUSH AVE, 11210"
299,A0126993,INS-000651588,2023-07-05,2023,BA-1547535-2022,WILLIAMSBURG SERVICE CENTER INC.,NaN,Gas Station-Retail - 815,WAM - Petroleum,Gas Station,...,301.0,33.0,3060705.0,3.022160e+09,BK72,40.699847,-73.961570,NaN,NaN,"713 KENT AVE, 11249"
456,A0126914,INS-000651487,2023-07-05,2023,BA-1545133-2022,SPRAGUE OPERATING RESOURCES LLC,NaN,Fuel Oil Dealer - 814,WAM - Petroleum,Fuel Oil,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1 BAY BLVD, 11559"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12704,A0217642,INS-000839633,2025-03-24,2025,BA-1050136-2022,AXIOS TRANSPORTATION CORP,NaN,Fuel Oil Dealer - 814,WAM - Petroleum,Fuel Oil,...,301.0,33.0,3065442.0,3.026040e+09,BK76,40.729232,-73.946168,NaN,NaN,"245 MESEROLE AVE, 11222"
12719,A0217672,INS-000839702,2025-03-24,2025,BA-1089402-2022,BROOKLYN FILLING STATION INC,NaN,Gas Station-Retail - 815,WAM - Petroleum,Gas Station,...,301.0,33.0,3065412.0,3.026000e+09,BK76,40.728380,-73.950296,NaN,NaN,"176 MCGUINNESS BLVD, 11222"
12720,A0217662,INS-000839679,2025-03-24,2025,BA-1119668-2022,"AVENUE I SERVICE STATION, INC.",NaN,Gas Station-Retail - 815,WAM - Petroleum,Gas Station,...,312.0,45.0,3170584.0,3.065130e+09,BK43,40.627395,-73.965682,NaN,NaN,"1248 CONEY ISLAND AVE, 11230"
12726,A0217665,INS-000839688,2025-03-24,2025,BA-1724945-2025,BOLLA OPERATING CORP,BOLLA,Gas Station-Retail - 815,WAM - Petroleum,Gas Station,...,318.0,46.0,3239493.0,3.084880e+09,BK58,40.614490,-73.927881,NaN,NaN,"2285 FLATBUSH AVE, 11234"
12731,A0217839,INS-000840529,2025-03-25,2025,BA-1409715-2022,NOR-PIKE SERVICE STATION INC,Nor-Pike Service Station,Gas Station-Retail - 815,WAM - Petroleum,Gas Station,...,408.0,24.0,4144382.0,4.066720e+09,QN37,40.718022,-73.815920,NaN,NaN,"14615 UNION TURNPIKE, 11367"

In [9]:
## let's see the general info 
failed_inspections.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1419 entries, 56 to 12731
Data columns (total 36 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Certificate of Inspection      1419 non-null   object
 1   Inspection Number              1419 non-null   object
 2   Date of Occurance              1419 non-null   datetime64[ns]
 3   Year (added)                   1419 non-null   int64
 4   Business Unique ID             1419 non-null   object
 5   Business Name                  1419 non-null   object
 6   DBA Trade Name                 527 non-null    object
 7   Business Category              1419 non-null   object
 8   Inspection type                1419 non-null   object
 9   Device Category                1419 non-null   object
 10  Device Class                   1403 non-null   object
 11  Device Type                    1419 non-null   object
 12  Devices Inspected              1419 non-null   int64
 13  Devices Approved               1419 non-null   int64
 14  Devices Condemned/Confiscated  1419 non-null   int64
 15  Confiscated                    1419 non-null   object
 16  Address Type                   1419 non-null   object
 17  Building Number                1416 non-null   object
 18  Street Name                    1419 non-null   object
 19  Street Name 2                  4 non-null      object
 20  Unit Type                      16 non-null     object
 21  Unit                           9 non-null      object
 22  City                           1419 non-null   object
 23  State                          1419 non-null   object
 24  Postcode                       1419 non-null   int64
 25  Borough                        1419 non-null   object
 26  Community Board                1413 non-null   float64
 27  Council District               1413 non-null   float64
 28  BIN                            1405 non-null   float64
 29  BBL                            1408 non-null   float64
 30  NTA                            1391 non-null   object
 31  Latitude                       1414 non-null   float64
 32  Longitude                      1414 non-null   float64
 33                                 0 non-null      float64
 34   .1                            0 non-null      float64
 35  Full Address                   1419 non-null   object
dtypes: datetime64[ns](1), float64(8), int64(5), object(22)
memory usage: 410.2+ KB

In [10]:
# Now from our list of top repeat offenders, let's see what business category they fall into
# First, extract the list of top repeat offenders
top_offenders = [
    "BOLLA OPERATING CORP.",
    "SPEEDWAY LLC",
    "AMG RETAIL I LLC",
    "SPRAGUE OPERATING RESOURCES LLC",
    "JAG TRANSPORTING INC",
    "LOGIC FUEL TRANSPORTATION CORP",
    "STAR ENERGY TRANSPORTATION INC.",
    "E.S.F. TRANSPORT INC.",
    "BERIL CORP",
    "FIVE BORO FUEL OIL LTD"
]

# Filter the failed inspections for just these businesses
top_failed = failed_inspections[failed_inspections["Business Name"].isin(top_offenders)]

# Check their business categories
top_failed[["Business Name", "Business Category"]].drop_duplicates()

                        Business Name            Business Category
456   SPRAGUE OPERATING RESOURCES LLC        Fuel Oil Dealer - 814
541             BOLLA OPERATING CORP.     Gas Station-Retail - 815
3140                     SPEEDWAY LLC     Gas Station-Retail - 815
5234                       BERIL CORP     Gas Station-Retail - 815
5253  STAR ENERGY TRANSPORTATION INC.        Fuel Oil Dealer - 814
5337                 AMG RETAIL I LLC     Gas Station-Retail - 815
5689             JAG TRANSPORTING INC        Fuel Oil Dealer - 814
5754   LOGIC FUEL TRANSPORTATION CORP        Fuel Oil Dealer - 814
5944  SPRAGUE OPERATING RESOURCES LLC  Gasoline Truck-Retail - 822
6063            E.S.F. TRANSPORT INC.        Fuel Oil Dealer - 814
6080           FIVE BORO FUEL OIL LTD        Fuel Oil Dealer - 814

In [11]:
## Now lets get a ranked list of what devices were being condemned at each repeat offender's inspection
top_failed["Device Type"].value_counts()

Device Type
Octane Sample          140
Petrol Meter Type B     49
Petrol Pump Diesel       5
Petrol Pump Blend        4
No Fee Gas Pump          2
Petrol Meter Type A      2
Petrol Pump Single       1
Name: count, dtype: int64

In [12]:
##Now let's see which device type had the most failure per business
top_failed.groupby(["Business Name", "Device Type"]).size().sort_values(ascending=False)

Business Name                    Device Type
BOLLA OPERATING CORP.            Octane Sample          82
SPEEDWAY LLC                     Octane Sample          38
AMG RETAIL I LLC                 Octane Sample          16
SPRAGUE OPERATING RESOURCES LLC  Petrol Meter Type B    13
JAG TRANSPORTING INC             Petrol Meter Type B    12
LOGIC FUEL TRANSPORTATION CORP   Petrol Meter Type B     7
STAR ENERGY TRANSPORTATION INC.  Petrol Meter Type B     7
E.S.F. TRANSPORT INC.            Petrol Meter Type B     6
FIVE BORO FUEL OIL LTD           Petrol Meter Type B     4
BERIL CORP                       Octane Sample           4
SPEEDWAY LLC                     Petrol Pump Diesel      3
                                 No Fee Gas Pump         2
BOLLA OPERATING CORP.            Petrol Pump Blend       2
SPEEDWAY LLC                     Petrol Pump Blend       2
BOLLA OPERATING CORP.            Petrol Pump Diesel      1
FIVE BORO FUEL OIL LTD           Petrol Meter Type A     1
LOGIC FUEL TRANSPORTATION CORP   Petrol Meter Type A     1
SPEEDWAY LLC                     Petrol Pump Single      1
BERIL CORP                       Petrol Pump Diesel      1
dtype: int64

Between 2023 and 2025, Bolla Operating Corp. topped the list of repeat offenders in NYC’s Weights and Measures inspections, failing 85 inspections across multiple locations — more than any other company. Speedway LLC followed with 46 failed inspections, and AMG Retail I LLC with 16.

The violations uncovered go beyond just faulty gas pumps. At the heart of these inspections were two critical issues: fuel quality and metering accuracy — both of which directly impact how much fuel consumers receive and what they pay for.

Bolla alone failed 82 octane sample tests, the highest in the city, suggesting a pattern of mislabeled or tampered fuel — a practice that could mean consumers are paying premium prices for regular-grade gas. In total, the top 10 offenders were cited in over 140 octane sampling failures, pointing to a widespread and systemic issue in fuel integrity across NYC.

At the same time, wholesalers like Sprague Operating Resources and JAG Transporting Inc. were repeatedly cited for Petrol Meter Type B violations — truck-mounted flow meters used to deliver heating oil or diesel to buildings and commercial customers. These meters, when miscalibrated, can result in underdelivery or overbilling, raising serious concerns about fuel delivery fraud in the supply chain.

In short, NYC’s most frequently cited fuel businesses failed not only to dispense fuel accurately — they often failed to deliver what they claimed was in the tank at all. These violations reflect more than broken hardware; they point to systemic negligence — or worse, economic deception — affecting everyday consumers and businesses alike.

In [14]:
## 2. Identify the geographic hotspots of device violations by borough, address, and postal code
filtered_inspections = wm_data[wm_data["Devices Condemned/Confiscated"] > 0]

In [15]:
## Now let's filter the top boroughs 
borough_violations = filtered_inspections["Borough"].value_counts()
borough_violations

Borough
Brooklyn         491
Queens           463
Bronx            259
Staten Island    116
Manhattan         87
Outside NYC        3
Name: count, dtype: int64

In [16]:
## Now let's filter the top zip codes
zip_violations = filtered_inspections["Postcode"].value_counts()
zip_violations.head(10)

Postcode
11222    125
11236     31
11101     31
11434     25
11385     24
11207     23
11234     22
11218     21
10462     20
10314     19
Name: count, dtype: int64

In [17]:
## Now let's filter the top business addresses 
filtered_inspections["Full Address"] = (
    filtered_inspections["Building Number"].fillna('').astype(str).str.strip() + " " +
    filtered_inspections["Street Name"].fillna('').astype(str).str.strip() + ", " +
    filtered_inspections["Postcode"].astype(str)
)

address_violations = filtered_inspections["Full Address"].value_counts()
address_violations

/var/folders/6p/9zpd5gjx1dj6zpc834rhv6d40000gn/T/ipykernel_31379/300141601.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_inspections["Full Address"] = (

Full Address
245 MESEROLE AVE, 11222          109
2488 HYLAN BLVD, 10306             5
914 REMSEN AVE, 11236              5
2985 JEROME AVE, 10468             4
1314 SEDGWICK AVE, 10452           4
                                ...
185 E 79TH ST, 10075               1
200 5TH AVE, 10010                 1
2317 CONEY ISLAND AVE, 11223       1
10020 METROPOLITAN AVE, 11375      1
14615 UNION TURNPIKE, 11367        1
Name: count, Length: 803, dtype: int64

In [18]:
address_violations.to_csv("address_violations_counts.csv", header=True)

In [19]:
## Our research confirms that the centralized testing station is located at 245 Meserole Avenue, Brooklyn, NY 11222
# Step 1: Exclude centralized testing station at 245 Meserole
remaining_inspections = failed_inspections.copy()
remaining_inspections = remaining_inspections[
    ~(
        (remaining_inspections["Building Number"].astype(str).str.strip() == "245") &
        (remaining_inspections["Street Name"].str.upper().str.contains("MESEROLE"))
    )
]

# Step 2: Create a clean 'Full Address' column
remaining_inspections["Full Address"] = (
    remaining_inspections["Building Number"].fillna('').astype(str).str.strip() + " " +
    remaining_inspections["Street Name"].fillna('').astype(str).str.strip() + ", " +
    remaining_inspections["Postcode"].astype(str)
)

# Step 3: Count and display the top 10 most common addresses
address_counts = remaining_inspections["Full Address"].value_counts()
address_counts.head(10)

Full Address
914 REMSEN AVE, 11236               5
2488 HYLAN BLVD, 10306              5
8521 7TH AVE, 11228                 4
1193 MYRTLE AVE, 11221              4
1981 OCEAN AVE, 11230               4
15328 ROCKAWAY BLVD, 11434          4
12903 N CONDUIT AVE, 11420          4
1317 OAKPOINT AVE, 10474            4
17402 HORACE HARDING EXPY, 11365    4
1314 SEDGWICK AVE, 10452            4
Name: count, dtype: int64

In [20]:
## Now let's see the most popular device types from the remaining inspections
device_type_counts = remaining_inspections["Device Type"].value_counts()
device_type_counts.head(10)

Device Type
Octane Sample           1135
Computing Scale - 01      82
Petrol Pump Blend         15
Pre-pack Scale - 01       14
Petrol Pump Single        12
No Fee Scale              12
Petrol Pump Diesel         9
Platform Scale - 02        9
No Fee Gas Pump            7
Petrol Meter Type B        5
Name: count, dtype: int64

In [21]:
## Now let’s identify the top boroughs where violations occurred — excluding inspections conducted at the centralized Meserole testing site.
# Ensure all fields are strings for safe comparison
filtered_inspections = failed_inspections.copy()

filtered_inspections["Building Number"] = filtered_inspections["Building Number"].astype(str).str.strip()
filtered_inspections["Street Name"] = filtered_inspections["Street Name"].astype(str).str.strip().str.upper()

# Now exclude all Meserole test-site rows
remaining_inspections = filtered_inspections[
    ~(
        (filtered_inspections["Building Number"] == "245") &
        (filtered_inspections["Street Name"].str.contains("MESEROLE", na=False))
    )
]

In [22]:
# Count violations by borough from remaining (non-Meserole) inspections
borough_violations = remaining_inspections["Borough"].value_counts()
borough_violations

Borough
Queens           463
Brooklyn         380
Bronx            259
Staten Island    116
Manhattan         87
Outside NYC        3
Name: count, dtype: int64

In [23]:
# Count violations by ZIP/postal code
postal_violations = remaining_inspections["Postcode"].value_counts()
postal_violations.head(10)

Postcode
11101    31
11236    31
11434    25
11385    24
11207    23
11234    22
11218    21
10462    20
11208    19
10314    19
Name: count, dtype: int64

In [24]:
remaining_inspections["Full Address"] = (
    remaining_inspections["Building Number"].fillna('').astype(str).str.strip() + " " +
    remaining_inspections["Street Name"].fillna('').astype(str).str.strip() + ", " +
    remaining_inspections["Postcode"].astype(str)
)
top_addresses = remaining_inspections["Full Address"].value_counts()
top_addresses.head(20)

/var/folders/6p/9zpd5gjx1dj6zpc834rhv6d40000gn/T/ipykernel_31379/2319109962.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  remaining_inspections["Full Address"] = (

Full Address
914 REMSEN AVE, 11236                      5
2488 HYLAN BLVD, 10306                     5
8521 7TH AVE, 11228                        4
1193 MYRTLE AVE, 11221                     4
1981 OCEAN AVE, 11230                      4
15328 ROCKAWAY BLVD, 11434                 4
12903 N CONDUIT AVE, 11420                 4
1317 OAKPOINT AVE, 10474                   4
17402 HORACE HARDING EXPY, 11365           4
1314 SEDGWICK AVE, 10452                   4
196-03 GRAND CENTRAL PARKWAY, 11423        4
2985 JEROME AVE, 10468                     4
284 MCDONALD AVE, 11218                    4
10710 ASTORIA BLVD, 11369                  4
2285 FLATBUSH AVE, 11234                   4
25-65 BROOKLYN QUEENS EXPRESSWAY, 11377    4
1982 BRONXDALE AVE, 10462                  4
117 MORNINGSIDE AVE, 10027                 4
2173 GRAND CONCOURSE, 10453                4
7202 ROOSEVELT AVE, 11372                  4
Name: count, dtype: int64

In [54]:
# Step 1: Load the datasets
wm_data = pd.read_excel("Weights-Measures_Data.xlsx")
charges_data = pd.read_csv("DCWP_Charges.csv")

# Step 2: Filter to failed inspections only
failed_inspections = wm_data[wm_data["Devices Condemned/Confiscated"] > 0].copy()

# Step 3: Clean and align formats
failed_inspections["Inspection Number"] = failed_inspections["Inspection Number"].astype(str)
charges_data["Inspection Number"] = charges_data["Inspection Number"].astype(str)

# ✅ Step 4: Count number of charges per inspection
charge_counts = charges_data["Inspection Number"].value_counts().rename("Charge Count")

# Step 5: Merge counts and charge data into failed inspections
merged = failed_inspections.merge(charge_counts, how="left", left_on="Inspection Number", right_index=True)

# Step 6: Fill missing charge counts (i.e., no charges filed)
merged["Charge Count"] = merged["Charge Count"].fillna(0).astype(int)

# Step 7: Add a Charged flag (True if Charge Count > 0)
merged["Charged"] = merged["Charge Count"] > 0

# Step 8: Analyze results
charged_count = merged["Charged"].sum()
total_failed = len(merged)

print(f"{charged_count} of {total_failed} failed inspections resulted in a formal charge.")

# Optional: Print distribution of charge counts
print("\nCharge count distribution:")
print(merged["Charge Count"].value_counts().sort_index())

3 of 1419 failed inspections resulted in a formal charge.

Charge count distribution:
Charge Count
0    1416
1       1
2       2
Name: count, dtype: int64

Out of 1,419 failed inspections, only 3 inspections led to any formal charge being filed by the Department of Consumer and Worker Protection (DCWP). Only one failed inspection got a single charge. Two failed inspections each had two charges filed

In [55]:
failed_inspections.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1419 entries, 56 to 12731
Data columns (total 35 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Certificate of Inspection      1419 non-null   object
 1   Inspection Number              1419 non-null   object
 2   Date of Occurance              1419 non-null   datetime64[ns]
 3   Year (added)                   1419 non-null   int64
 4   Business Unique ID             1419 non-null   object
 5   Business Name                  1419 non-null   object
 6   DBA Trade Name                 527 non-null    object
 7   Business Category              1419 non-null   object
 8   Inspection type                1419 non-null   object
 9   Device Category                1419 non-null   object
 10  Device Class                   1403 non-null   object
 11  Device Type                    1419 non-null   object
 12  Devices Inspected              1419 non-null   int64
 13  Devices Approved               1419 non-null   int64
 14  Devices Condemned/Confiscated  1419 non-null   int64
 15  Confiscated                    1419 non-null   object
 16  Address Type                   1419 non-null   object
 17  Building Number                1416 non-null   object
 18  Street Name                    1419 non-null   object
 19  Street Name 2                  4 non-null      object
 20  Unit Type                      16 non-null     object
 21  Unit                           9 non-null      object
 22  City                           1419 non-null   object
 23  State                          1419 non-null   object
 24  Postcode                       1419 non-null   int64
 25  Borough                        1419 non-null   object
 26  Community Board                1413 non-null   float64
 27  Council District               1413 non-null   float64
 28  BIN                            1405 non-null   float64
 29  BBL                            1408 non-null   float64
 30  NTA                            1391 non-null   object
 31  Latitude                       1414 non-null   float64
 32  Longitude                      1414 non-null   float64
 33                                 0 non-null      float64
 34   .1                            0 non-null      float64
dtypes: datetime64[ns](1), float64(8), int64(5), object(21)
memory usage: 399.1+ KB